<section id="not-found__sect">
  <div class="not-found__container">
    <div class="not-found__content">
      <img
        class="watermark"
        src="../../assets/watermark.png"
        alt="A background"
      />
      <div class="content-box">
        <span>404</span>
        <span class="sub">Nah, That Page doesn’t Exist</span>
      </div>
    </div>
    <img class="pointer" src="../../assets/pointer.png" alt="A Pointer Icon" />
    <button routerLink="" aria-label="A redirect buttom">Go Home</button>
  </div>
</section>
