<section id="about-sect">
  <div class="about-body">
    <h2>About Me</h2>
    <img
      width="123"
      height="8.44"
      class="border-bottom lazy"
      data-src="./../../assets/Vector.svg"
      data-alt="underline"
    />
    <div class="about-content">
      <div class="picture-cover lazy">
        <img
          width="179"
          height="185"
          class="lazy"
          data-src="../../assets/frame.svg"
          data-alt="Frame of a picture"
        />
      </div>

      <div class="about-main__content">
        <p>My name is Yusuf Abdulraheem. I’m a full stack web developer.</p>
        <p>
          When I'm not coding, I'm either cycling, swimming or diving into my
          own imaginaton. My skills are mainly focused on MEAN stack web
          development tools (MongoDB, ExpressJS, Angular, NodeJS). Additionally,
          I have a solid knowledge and experience with HTML, CSS, JavaScript for
          frontend, Template engines such as EJS, PUG and Handlebars for dynamic
          rendering. NodeJS and it's framework (ExpressJS) for backend. With my
          knowledge I'm quite experienced with developing Progressive Web Apps.
        </p>
      </div>
    </div>
  </div>
</section>
