<section id="contact-sect">
  <div class="contact-body">
    <h2>Contact Me</h2>
    <img
      class="border-bottom"
      src="./../../assets/Vector.svg"
      alt="underline"
    />
    <div class="contact-content">
      <p class="contact-overview">Lets work on your next project together.</p>
      <p class="contact-sub__overview">
        I’m always open to new oppotunities and interesting projects.
      </p>
      <a class="contact-me" href="mailto:raheemscorporatemail@gmail.com"
        >Say Hello</a
      >
    </div>
  </div>
</section>
