<section id="skills-sect">
  <div class="skills-body">
    <h2>My Skill Set</h2>
    <img
      class="border-bottom"
      src="./../assets/Vector.svg"
      alt="Stylish Horizontal Line"
    />
    <p class="skills-intro">
      I have a host of skills because of my high affinity to learn new things
      and move on the same pace with the industry. Here are my main skill sets:
    </p>

    <div class="skills-content">
      <div class="skills-part1">
        <img
          class="skills-icon"
          src="./../assets/icons/html-icon.svg"
          alt="HTML Symbol"
        />
        <h3>Front-End Development</h3>
        <p>
          I am very well experienced in the base technologies of the web;
          <span>HTML, CSS</span>
          and
          <span>JavaScript</span>. The main front-end framework i use is
          <span>Angular</span>. I also use templete frameworks;
          <span>EJS, PUG</span>
          and
          <span>Handlebars</span>
          for dynamic rendering.
        </p>
      </div>
      <div class="skills-part1">
        <img
          class="skills-icon"
          src="./../assets/icons/database.svg"
          alt="Database Symbol"
        />
        <h3>Back-End Development</h3>
        <p>
          My main backend technology comprises
          <span>NodeJs</span>
          and its framework,
          <span>ExpressJS</span>. I also work with
          <span>GraphQL</span>
          and
          <span>RestAPI</span>
          for APIs as well as
          <span>MongoDB</span>
          and
          <span>MySQL</span>
          for databases.
        </p>
      </div>
    </div>
  </div>
</section>
