@import "../shared/shared";

#projects-sect {
  align-items: flex-start;
  height: auto;

  @media (min-width: $md) {
    min-height: toRem(812);
    height: 100vh;
    padding: calc(toRem(48) + 4.8125rem);
  }

  @media (min-width: $xl) {
    padding: calc(toRem(48) + 4.8125rem) 0;
  }

  @media (min-width: $two-xl) {
    padding: calc(toRem(48) + 4.8125rem);
  }

  .projects-body {
    margin-left: toRem(16);
    position: relative;

    @media (min-width: $xl) {
      margin-left: toRem(175 + 16);
    }

    .navigation {
      position: absolute;
      top: 40%;
      right: -3rem;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      @include centered();

      &:hover,
      &:active {
        transform: scale(1.5);
      }

      img {
        width: 80%;
      }
    }

    .left {
      transform: rotateZ(180deg) translateY(-150%);

      &:hover,
      &:active {
        transform: rotateZ(180deg) translateY(-150%) scale(1.5);
      }
    }

    @media (min-width: $md) {
      .left {
        transform: rotateZ(180deg);
        left: -4.5rem;

        &:hover,
        &:active {
          transform: rotateZ(180deg) scale(1.5);
        }
      }

      .right {
        right: -4.5rem;
      }
    }
  }
}

h2 {
  margin-left: 0;
}

.projects-content {
  overflow: hidden;
  min-width: toRem(253);
  width: floor(calc(253 / 375 * 100vw));
  max-width: toRem(756);
  position: relative;
}

.projects-wrapper {
  @include display-flex();
  width: 100%;
  flex-direction: column;
  -webkit-transition: transform 300ms ease-out;
  -moz-trantransition: transform 300ms ease-out;
  -o-trantransition: transform 300ms ease-out;
  transition: transform 300ms ease-out;
  gap: toRem(16);
  transform: translateX(1.11%);

  @media (min-width: $md) {
    width: 540%;
    flex-direction: row;
  }
}

.grabbing {
  cursor: grabbing;
}

.project {
  width: 100%;
  margin: toRem(48) 0 toRem(30) 0;

  @media (min-width: $md) {
    width: 25%;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(2) {
    .project-img__cover {
      background: url(./../../assets/project-img/date-picker.png);
      background-position: left top;
      background-color: var(--grey-90);
    }

    .lazy {
      background: none;
      background-image: none;
      background-color: var(--grey-90);
    }
  }
  &:nth-child(3) {
    .project-img__cover {
      background: url(./../../assets/project-img/squidward.png);
      background-position: center top;
      background-color: var(--grey-90);
    }

    .lazy {
      background: none;
      background-image: none;
      background-color: var(--grey-90);
    }
  }
  &:nth-child(4) {
    .project-img__cover {
      background: url(./../../assets/project-img/royalebiba.png);
      background-position: 20% toRem(-3);
      background-color: var(--grey-90);
    }

    .lazy {
      background: none;
      background-image: none;
      background-color: var(--grey-90);
    }
  }
  &:nth-child(5) {
    .project-img__cover {
      background: url(./../../assets/project-img/dream-site.png);
      background-size: cover;
      background-color: var(--grey-90);
    }

    .lazy {
      background: none;
      background-image: none;
      background-color: var(--grey-90);
    }
  }
  &:nth-child(6) {
    .project-img__cover {
      background: url(./../../assets/project-img/ibeemay.png);
      background-position: 13% toRem(-3);
      background-color: var(--grey-90);
    }

    .lazy {
      background: none;
      background-image: none;
      background-color: var(--grey-90);
    }
  }

  .project-img__cover {
    background: url(./../../assets/project-img/yct-collator.png);
    background-position: 22% toRem(-3);
    width: 100%;
    height: toRem(383);
    border-top-left-radius: toRem(8);
    border-top-right-radius: toRem(8);
    background-color: var(--grey-90);
  }

  .lazy {
    background: none;
    background-image: none;
    background-color: var(--grey-90);
  }
}

.project-sub__cover {
  width: 100%;
  margin: toRem(16) 0;
  gap: toRem(8);
  @include display-flex();
  flex-direction: column;

  @media (min-width: $md) {
    margin-bottom: toRem(24);
    flex-direction: row;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
    font-size: toRem(18);
    font-weight: bold;
    color: #000;
  }

  .features-cover {
    @include display-flex();
    width: toRem(162);
    justify-content: space-between;

    .features {
      @include centered();
      width: toRem(74);
      font-size: toRem(12);
      border-radius: toRem(4);
      font-weight: 500;
      color: var(--grey-60);
      padding: toRem(4) toRem(8);
      background-color: var(--grey-90);
    }
  }
}

.project-desc {
  margin: 0;
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.69;
  color: var(--grey-40);

  span {
    // color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
  }

  @media (min-width: $md) {
    font-size: toRem(18);
    line-height: 1.5;
  }
}

.project-link__cover {
  @include display-flex();
  justify-content: space-between;
  width: toRem(219);
  margin: toRem(16) 0 toRem(16);

  @media (min-width: $md) {
    width: toRem(242);
  }

  .project-link {
    font-size: toRem(16);
    font-weight: 500;
    line-height: 1.69;
    color: var(--secondary-color);
    text-decoration: underline;

    @media (min-width: $md) {
      font-size: toRem(18);
      line-height: 1.5;
    }
  }
}

.progress-bar {
  @include display-flex();
  width: toRem(236);
  height: toRem(2);
  margin: 0 0 toRem(16);
  background-color: var(--grey-80);

  .progress {
    width: floor(calc(100% / 6));
    height: toRem(2);
    background-color: var(--secondary-color);
    margin: 0;
  }
}
