/* You can add global styles to this file, and also import other style files */
@import "./app/shared/shared";

// document.documentElement.style.setProperty('--main-color', '#f4f4f4') to change theme with localStorage
// document.styleSheets[1].insertRule(":root{--main-color:#4444FF}") best method
$main-color: #24252d;
// $secondary-color: lighten($main-color, 16%);
// $tertiary-color: darken($main-color, 7%);
// $border-default: 0.125rem solid var(--main-color);

:root {
  --app-height: 100%;
  --main-color: #{$main-color};
  --secondary-color: #ff5c00;
  --grey-10: #121317;
  --grey-30: #363744;
  --grey-40: #484959;
  --grey-50: #6d6f88;
  --grey-60: #999bad;
  --grey-70: #c6c7d2;
  --grey-80: #dddee4;
  --grey-90: #f4f4f6;
  --grey-100: #fdfdfe;
  --grey-10-overlay: rgba(18, 19, 23, 0.5);
  --NotoSans: "Noto Sans", sans-serif;
  --NotoSans-Display: "Noto Sans Display", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

  &:focus {
    outline: none;
  }

  a {
    text-decoration: none;
  }

  img.lazy {
    display: flex;
    position: relative;
  }
}

body {
  font-family: var(--NotoSans);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("./assets/background-img.svg");
}

.contact-me {
  background-color: var(--grey-10);
  padding: toRem(16) toRem(24);
  border: none;
  border-radius: toRem(4);
  cursor: pointer;
  font-family: var(--NotoSans-Display);
  font-size: toRem(18);
  font-weight: 600;
  color: var(--grey-90);
}

section {
  @include centered();
  flex-direction: column;
  justify-content: flex-start;
  min-height: toRem(800);
  width: 100vw;
  height: 100vh;
  padding: 4.8125rem 0 0;

  h2 {
    font-family: var(--NotoSans);
    font-size: toRem(24);
    font-weight: 800;
    color: var(--main-color);
    margin: toRem(32) 0 0 toRem(16);

    @media (min-width: $md) {
      font-size: toRem(34);
    }
  }

  .border-bottom {
    width: toRem(123);
    height: auto;
    margin: toRem(8) 0 0 toRem(16);
    aspect-ratio: 302 / 22;

    @media (min-width: $md) {
      width: toRem(167);
      height: auto;
    }
  }
}

.lazy {
  background: none;
  background-image: none;
  background-color: var(--grey-90);
}
