<section id="home-sect">
  <span class="welcome-text"
    ><img src="../assets/icons/Star.svg" alt="A star icon" /><span
      >Hey, I’m Yusuf Abdulraheem</span
    ><img src="../assets/icons/Star.svg" alt="A star icon" />
  </span>
  <span class="welcome-text__extra">
    <span>I do full stack web development when i’m </span>
    <img src="./../assets/Vector.svg" alt="underline" />
    <span>not cycling</span>
  </span>
  <a class="contact-me" href="mailto:raheemscorporatemail@gmail.com"
    >Contact Me</a
  >
  <div class="into-img__cover">
    <img src="../assets/intro-img-vector.svg" alt="A Vector graphics" />
    <img
      class="lazy"
      data-src="../../assets/intro-img-lg.png"
      data-alt="An image of Yusuf Abdulraheem"
    />
  </div>
  <div class="down-arrow">
    <a href="#about-sect">
      <img src="../assets/icons/down-arrow.svg" alt="Down Arrow Icon" />
    </a>
  </div>
</section>
<app-about></app-about>
<app-skills></app-skills>
<app-project></app-project>
<app-contact></app-contact>
